/*moved all resets to reset.css*/

header h1 {
    display: inline-block;
    font-size: 48px;
}
/*took h1 out to simplify code*/
header #seo {
    color: #d9dcd6;
}
/*Changed the div to match html nav*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Changed the div to match html nav*/
header nav ul {
    list-style-type: none;
}
/*Changed the div to match html nav*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.main-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*condensed the need for multiple article classes*/
.content article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*removed the need for extra classes*/
.content article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*condensed img classes to 1 img-format*/
.content article img {
    max-height: 200px;
    float: left;
    margin-right: 25px;
}

/*added id, fixed float and margin*/
#float-right {
    float: right;
    margin: 0px 0px 0px 25px;
}

/*repositioned the layout of css file*/

/*renamed to remove class*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*renamed to remove class and condense*/
aside article {
    margin-bottom: 32px;
    color: #ffffff;
}

/*renamed to remove class and condense*/
aside article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*renamed to remove class and condense*/
aside article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer h2 {
    font-size: 20px;
}
